/* GLOBAL RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SMOOTH SCROLL */

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  font-family: Arial, sans-serif;

  background-color: white;

  overflow-x: hidden;
}

/* LINKS */

a {
  text-decoration: none;
}

/* BUTTONS */

button {
  cursor: pointer;

  border: none;
}
